.about-list {
  margin-left: 90px;
  margin-top: 50px;
}

.about-list li {
  display:inline;
  padding-right: 50px;
  font-size: 24px;
}

.bg-purple {
  background-color: $purple;
}

.iin-logo {
  width: 160px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}

.ukhc-logo {
  width: 160px;
  background-color: white;
  padding: 8px;
   border-radius: 8px;
}

.bg-badges {
  background-color: $dark-purple;
}

.logo-list {
  border: 8px solid white;
}

.logo-list li {
    display: inline;
    margin: 12px;
}


/*FAST TEXT*/

.fast-text-bg {
 color: white;
}


@media only screen
  and (min-width: 320px)
  and (max-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #map {
    width: 600px;
    height: 400px;
    position: relative;
  }

  .about-list {
    margin-left: 45px;
    margin-top: 25px;
  }

  .sam-img {
    padding-bottom: 16px;
  }

  .ukhc-logo {
    width: 100px;
  }

   .iin-logo {
    width: 100px;
  }

  #accreditation-text {
    display: flex;
    justify-content: center;
  }
}
