.banner-bg {
  position: relative;
}

.banner-text {
  font-size: 4rem;
  line-height: 0.9;
  text-align: center;
}

#contact-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: $green;
  border-radius: 4px;
  padding: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
      text-decoration: none;
      padding: 12px;
  }
}

.make-bg-purple {
  color: white;
  padding:4px;
  background-color: $purple;
}

.make-dark-purple {
  color: $dark-purple;
}

.make-light-purple {
    color: $light-purple;
}

.banner-list li h1 {
  font-weight: 700;

}

@media only screen
  and (min-width: 320px)
  and (max-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .banner-text {
    border-radius: 8px;
    padding: 12px 0;
    font-size: 3rem;
  }

  .bg-banner {
    height: 500px;
  }

  .banner-list {
    padding-top: 60px;
  }
}
