.coaching-container {
  background-image: linear-gradient(to bottom right, $purple, $light-purple);
  color: white;
  position: relative;
}

#contact-image img {
  padding-top: 40px;
  width: 80%;
}

.cards-list {
  padding: 12px;
}

#coaching-list {
  .fa-ul {
    margin-left: 1em;
  }
}

.cards-list li .fa-li {
    padding-right: 4em;
}
