.mapContainer {
  width: 350px;
  height: 350px;
}

.contact-list li {
  padding-top: 8px;
}

.contact-list {
  color: $dark-purple;
  font-weight: 500;
  padding: 40px;
  a {
    text-decoration: none;
    color: $dark-purple;
  }
  a:hover {
    color: $purple;
  }
}

// .marker {
//   background-image: url('./../images/map-pin-solid.svg');
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;
//   color: $purple;
// }

@media only screen
  and (min-width: 320px)
  and (max-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #coach-img {
    display: none;
  }

  #contact-button {
    font-size: 16px;
  }

  .contact-list {
    font-size: 12px;
    padding: 20px;
  }

  .mapContainer {
    width: 250px;
    height: 250px;
  }

  #contact-image img {
    display: none;
  }
}
