.bg-dark-purple {
  background-color: $dark-purple;
  color: white;
}

.footer-info {
  display: flex;
  align-items: center;
  padding: 16px;
}

.footer-copyright {
  a {
    text-decoration: none;
    color: white;
  }
    a:hover {
    color: $green;
    }
}

.make-purple {
  color: $purple;
}

.social-media {
  color: $purple;
    li {
      display: inline;
      margin: 0 12px;
    }
    a {
      text-decoration: none;
      color: $purple;
    }
      a:hover {
        color: $green;
      }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .social-media li {
    display: inline;
    margin: 0 8px;
  }




}
