.card-icon {
  font-size: 40px;
  color: $green;
  padding-left: 30px;
  padding-top: 20px;
}

.card-border {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 20px;
}

.card {
  padding: 12px;
}


@media only screen
  and (min-width: 320px)
  and (max-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .cards-list {
    padding-left: 0;
  }

  .cards-list li .fa-li {
    padding-right: 0;
  }

  .mobile-text {
    font-size: 20px;
  }
}
