@import './stylesheets/NavbarComponent.scss';
@import './stylesheets/Banner.scss';
@import './stylesheets/Coaching.scss';
@import './stylesheets/About.scss';
@import './stylesheets/Footer.scss';
@import './stylesheets/WorkWithMe.scss';
@import './stylesheets/Contact.scss';
@import './stylesheets/Intro.scss';

$dark-purple: #360A53;
$light-purple: #D1C6FE;
$purple: #815BB8;
$green: #84DD7C;

html {
  scroll-behavior: smooth;
  width: 100%;
  margin-right: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: calc(12px + 3vw);
}

h2 {
  font-size: calc(12px + 1.5vw);
}

h3 {
  font-size: calc(12px + 1.15vw);
}

h4 {
  font-size: calc(12px + 1vw);
}

p {
  font-size: calc(16px + 0.3vw);
}

#root {
  height: 100%;
}

.container-layout {
  padding-top: 80px !important;
  min-height: 600px;
}

.header-section {
  padding: 20px 50px;
}

/* MOBILE Responsiveness*/

@media only screen
  and (min-width: 320px)
  and (max-width: 720px)
  and (-webkit-min-device-pixel-ratio: 2) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .header-section {
    padding: 15px 25px;
  }
}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
}
